@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {

  --background: hsl(0.00 0.00% 100.00%);
  --foreground: hsl(240.00 11.63% 8.43%);
  
  --primary: hsl(237.55 63.64% 84.90%);
  --primary-foreground: hsl(240.00 11.63% 8.43%);
  
  --card: hsl(240.00 50.00% 99.22%);
  --card-foreground: hsl(240.00 11.63% 8.43%);
  
  --popover: hsl(0.00 0.00% 100.00%);
  --popover-foreground: hsl(240.00 11.63% 8.43%);
  
  --secondary: hsl(240.00 63.64% 97.84%);
  --secondary-foreground: hsl(0.00 0.00% 0.00%);
  
  --muted: hsl(240.00 71.43% 98.63%);
  --muted-foreground: hsl(0.00 0.00% 40.00%);
  
  --accent: hsl(240.00 71.43% 98.63%);
  --accent-foreground: hsl(240.00 10.77% 12.75%);
  
  --destructive: hsl(0.00 84.24% 60.20%);
  --destructive-foreground: hsl(210.00 40.00% 98.04%);
  
  --border: hsl(234.00 62.50% 96.86%);
  
  --input: hsl(230.00 8.11% 85.49%);
  
  --ring: hsl(237.55 63.64% 84.90%);
  
  --chart-1: hsl(237.55 63.64% 84.90%);
  --chart-2: hsl(237.14 63.64% 87.06%);
  --chart-3: hsl(238.13 64.00% 90.20%);
  --chart-4: hsl(237.78 62.79% 91.57%);
  --chart-5: hsl(237.27 64.71% 93.33%);
  
  --sidebar: hsl(240.00 100.00% 99.80%);
  --sidebar-foreground: hsl(240.00 11.63% 8.43%);
  --sidebar-primary: hsl(237.55 63.64% 84.90%);  
  --sidebar-primary-foreground: hsl(240.00 11.63% 8.43%);
  --sidebar-accent: hsl(237.55 63.64% 84.90%);
  --sidebar-accent-foreground: hsl(240.00 11.63% 8.43%);  
  --sidebar-border: hsl(234.00 62.50% 96.86%);
  --sidebar-ring: hsl(237.55 63.64% 84.90%);
  
  --radius: 0.5rem;
          
}

.dark {
 
--background: hsl(0.00 0.00% 0.00%);
--foreground: hsl(240.00 63.64% 97.84%);

--primary: hsl(237.55 63.64% 84.90%);
--primary-foreground: hsl(240.00 11.63% 8.43%);

--card: hsl(240.00 5.56% 7.06%);
--card-foreground: hsl(240.00 63.64% 97.84%);

--popover: hsl(0.00 0.00% 0.00%);
--popover-foreground: hsl(240.00 63.64% 97.84%);

--secondary: hsl(236.47 11.26% 29.61%);
--secondary-foreground: hsl(0.00 0.00% 100.00%);

--muted: hsl(0.00 0.00% 9.80%);
--muted-foreground: hsl(0.00 0.00% 50.20%);

--accent: hsl(236.47 11.26% 29.61%);
--accent-foreground: hsl(240.00 63.64% 97.84%);

--destructive: hsl(0.00 84.24% 60.20%);
--destructive-foreground: hsl(210.00 40.00% 98.04%);

--border: hsl(234.00 11.63% 16.86%);

--input: hsl(228.00 4.20% 23.33%);

--ring: hsl(237.55 63.64% 84.90%);

--chart-1: hsl(237.55 63.64% 84.90%);
--chart-2: hsl(237.14 29.58% 72.16%);
--chart-3: hsl(238.13 14.04% 55.29%);
--chart-4: hsl(237.78 11.30% 46.86%);
--chart-5: hsl(237.27 11.34% 38.04%);

--sidebar: hsl(240.00 2.56% 7.65%);
--sidebar-foreground: hsl(240.00 63.64% 97.84%);
--sidebar-primary: hsl(237.55 63.64% 84.90%);  
--sidebar-primary-foreground: hsl(240.00 11.63% 8.43%);
--sidebar-accent: hsl(237.55 63.64% 84.90%);
--sidebar-accent-foreground: hsl(240.00 11.63% 8.43%);  
--sidebar-border: hsl(234.00 11.63% 16.86%);
--sidebar-ring: hsl(237.55 63.64% 84.90%);

--radius: 0.5rem;
    
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* global border radius */
  --radius: 0.75rem;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.text-gradient {
  background: linear-gradient(45deg, hsl(215, 20%, 65%), hsl(170, 20%, 55%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  cursor: pointer;
}

.text-gradient:hover {
  color: #ffffff;
  filter: brightness(1.1) contrast(1.1);
  transform: scale(1.02);
}
